# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment folder
venv/

# Ignore saved_models for now
saved_models/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the environment configuration files
.env
.venv

# Ignore logs
*.log

# Ignore build and distribution folders
build/
dist/
*.egg-info/

# Ignore system-specific files
.DS_Store        # macOS
Thumbs.db        # Windows
